<script type=module src="/static/main.js"></script>

<head></head>
    <meta charset="UTF-8">
    <title>{% block title %}{{ title }}{% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
    <link href="/static/main.css" rel="stylesheet">
</head>
<nav>
    <div class="navbar-span">
        <div class="left-items">
            <h1><strong>CS3550</strong></h1>
            <a style="text-decoration: none;" href="/index.html">Assignments</a>
        </div">
    </div>
    <div class="right-item">
        <a style="text-decoration: none;" href="/profile.html">Profile</a>
    </div>
</nav>